@model CreateFeedBackVm
@{
    ViewData["Title"] = "Góp ý";
}
<div>
    <div class="card shadow h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
        </div>

        <div class="card-body">
            <form asp-action="Create" data-name="ajaxFormFeedBack">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-3">
                    <label asp-for="Content" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Content" rows="10" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
   