<div class="modal fade" id="modal_create_BuyInsurance1">
    <div class="modal-dialog modal-xl">
        <div class="container-fluid modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Mua bảo hiểm sức khỏe</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="">
                    <div>
                        <h6>Thông tin khách hàng</h6>
                    </div>
                    <hr />
                    <div class="">

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tên khách hàng <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control " placeholder="Nhập họ và tên bạn">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Giới tính <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <div class="form-check-inline mt-2">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio">Nam
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio">Nữ
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Số điện thoại <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày sinh <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="date" class="form-control ">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Số CMND/Hộ chiếu <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập số CMND/Hộ chiếu">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày cấp <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="date" class="form-control">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Nơi cấp <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập nơi cấp">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Email <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập Email">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Mã số thuế <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="text" class="form-control" placeholder="Nhập mã hợp đồng...">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label  font-weight-bold">Địa chỉ <span class="text-danger">*</span></label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <textarea type="text" class="form-control " placeholder="Nhập địa chỉ"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <h6>Thông tin bảo hiểm</h6>
                    </div>
                    <hr />
                    <div class="">

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Gói bảo hiểm <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <select class="form-control">
                                    <option>10000</option>
                                    <option>10000</option>
                                    <option>10000</option>
                                    <option>10000</option>
                                </select>
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tiền phí : <span>0</span></label>

                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày mua <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <input type="date" class="form-control">
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tiền chiết khấu : <span>0</span></label>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Thời gian mua <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-sm-12 col-12">
                                <div class="input-group mb-2">
                                    <div class="input-group-text">Ngày</div>
                                    <input type="number" value="360" disabled class="form-control">
                                </div>
                            </div>
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Tiền phải đóng : <span>0</span></label>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <h6>Chứng từ</h6>
                    </div>
                    <hr />
                    <div class="">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label ">Ngày mua <span class="text-danger">*</span></label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <div class="dropzone dz-clickable" id="myDrop">
                                    <div class="dz-default dz-message" data-dz-message="">
                                        <span>Drop files here to upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-lg-3 col-sm-12 col-12 col-form-label  "> </label>
                            <div class="col-lg-9 col-sm-12 col-12">
                                <button class="btn btn-primary"><i data-feather="save"></i>Lưu lại</button>
                                <button type="button" class="btn btn-warning " data-bs-dismiss="modal"><i data-feather="x"></i> Đóng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>