@{
    ViewData["Title"] = "Danh sách khách hàng mua bảo hiểm";
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">
                        <h3>1.Thanh toán chuyển khoản ngân hàng</h3>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>
                                            <b>Ngân hàng</b>
                                        </th>
                                        <th>
                                            <b>Số tài khoản</b>
                                        </th>
                                        <th style="text-align: center">
                                            <b>Chủ tài khoản</b>
                                        </th>
                                        <th style="text-align: center">
                                            <b>Nội dung CK</b>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            Vietcombank - CN Thanh Xuân
                                        </td>
                                        <td>
                                            0711000258981
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle; text-align: center">
                                            CÔNG TY CỔ PHẦN TẬP ĐOÀN TIMA
                                        </td>
                                        <td rowspan="4" style="vertical-align: middle; text-align: left">
                                            <div>- Gia han TK: usertest1234 <i>(Dành cho gia hạn thời gian sử dụng)</i></div>
                                            <div>- Nap tien bao hiem : usertest1234 <i>(Dành cho gói bảo hiểm)</i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Techcombank - CN Hà Tây
                                        </td>
                                        <td>
                                            19133237709013
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            BIDV - CN Thái Hà
                                        </td>
                                        <td>
                                            26810000289402
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sacombank - CN Đống Đa
                                        </td>
                                        <td>
                                            020066678688
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3>2. Thanh toán tiền mặt</h3>
                        <p>- Nếu bạn ở Hà Nội hoặc TP. Hồ Chí Minh xin vui lòng liên hệ với Mecash theo số điện thoại 024.7305.4222 để được hỗ trợ. Nhân viên của chúng tôi sẽ qua thu tiền mặt trực tiếp.</p>
                    </div>
                </div>
                <h3 class="mt-2">3.Các gói sản phẩm</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center bg-orange text-white">
                                <p>Gói 12 Thánh</p>
                                <p>2.200.000</p>
                                <button class="btn btn-sm btn-white">Thanh toán ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center bg-orange text-white">
                                <p>Gói 12 Thánh</p>
                                <p>2.200.000</p>
                                <button class="btn btn-sm btn-white">Thanh toán ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center bg-orange text-white">
                                <p>Gói 12 Thánh</p>
                                <p>2.200.000</p>
                                <button class="btn btn-sm btn-white">Thanh toán ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="mt-2">4.Các gói sản phẩm VIP</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center bg-orange text-white">
                                <p>Gói 12 Thánh</p>
                                <p>2.200.000</p>
                                <button class="btn btn-sm btn-white">Thanh toán ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center bg-orange text-white">
                                <p>Gói 12 Thánh</p>
                                <p>2.200.000</p>
                                <button class="btn btn-sm btn-white">Thanh toán ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body text-center bg-orange text-white">
                                <p>Gói 12 Thánh</p>
                                <p>2.200.000</p>
                                <button class="btn btn-sm btn-white">Thanh toán ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="">
                            <h3>* Gói Siêu VIP</h3>
                            <p>-Server riêng, tên miền riêng</p>
                            <p>-Hỗ trợ sửa phần mềm theo yêu cầu</p>
                            <p>-Có người hỗ trợ riêng</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <h3>* Gói Siêu VIP</h3>
                            <p>-Server riêng, tên miền riêng</p>
                            <p>-Hỗ trợ sửa phần mềm theo yêu cầu</p>
                            <p>-Có người hỗ trợ riêng</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <h3>* Gói Siêu VIP</h3>
                            <p>-Server riêng, tên miền riêng</p>
                            <p>-Hỗ trợ sửa phần mềm theo yêu cầu</p>
                            <p>-Có người hỗ trợ riêng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>
        $(".pay-nav").addClass("active");
        $('.select-type').select2();
        //show modal
        $("#myModal").modal("show");
    </script>
}