@model List<HopDong_DebtNoteVm>
@{
    int idx = 1;
}
<div class="info-hd-header">
    <i class="fa fa-list"></i> Lịch sử nhắc nợ
</div>
<table class="table table-bordered head-bg-gray table-hover">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Thời gian</th>
            <th class="text-center">Người thao tác</th>
            <th class="text-center">Nội dung</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@idx</td>
                    <td>@item.CreatedDate.ToString("HH:mm dd/MM/yyyy")</td>
                    <td>@item.FullName</td>
                    <td>@item.Note</td>
                </tr>

                idx++;
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Không có dữ liệu</td>
            </tr>
        }


    </tbody>
</table>