<!-- Navbar Brand-->
<!-- * * Tip * * You can use text or an image for your navbar brand.-->
<!-- * * * * * * When using an image, we recommend the SVG format.-->
<!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
<a class="navbar-brand" href="@Url.Action("Index", "Home")">
    Admin Dashboard
</a>
<!-- Sidenav Toggle Button-->
<button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle"><i data-feather="menu"></i></button>

<ul class="navbar-nav align-items-center ml-auto">
    @await Component.InvokeAsync("UserInfoTopBar")
</ul>
