<nav class="sidenav shadow-right sidenav-dark">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">
            <a class="nav-link cauhinhhanghoa-nav" href="@Url.Action("Index", "CauHinhHangHoa")">
                <div class="nav-link-icon"><i data-feather="users"></i></div>
                Cấu hình hàng hóa
            </a>
            <a class="nav-link motahinhthuclai-nav" href="@Url.Action("Index", "MoTaHinhThucLai")">
                <div class="nav-link-icon"><i data-feather="users"></i></div>
                Mô tả hình thức lãi
            </a>
            <a class="nav-link user-nav" href="@Url.Action("Index", "User")">
                <div class="nav-link-icon"><i data-feather="users"></i></div>
                User
            </a>
            <a class="nav-link setting-nav" href="@Url.Action("Index", "Setting")">
                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                Setting
            </a>
        </div>
    </div>
</nav>