
/*html {
    font-size: 14px;
}*/

div::-webkit-scrollbar, ul::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    border-radius: 10px
}

    div::-webkit-scrollbar-thumb:hover, ul::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,.5)
    }

.fa-sync-alt.fa-spin {
    margin-left: 5px;
}

#toast-container > div {
    opacity: 1;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;
}

a.btn-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-item {
    padding: 10px;
}

    .menu-item a {
        display: flex;
        align-items: center;
        color: #676c7b;
    }

        .menu-item a svg {
            margin-right: 5px;
        }

.list-shop {
    position: absolute;
    width: 70%;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 15px 1px rgb(69 65 78 / 20%);
    margin-top: 20px;
    display: none;
}

.shop-item {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px dotted #dedede;
}

    .shop-item a {
        line-height: 50px;
    }

    .shop-item.active {
        background: #eceef1;
    }

.choose-shop {
    position: relative;
}

select.form-control {
    padding: 0.575rem 1.125rem !important;
}

.modal-lager {
    width: 90% !important;
    max-width: 90% !important;
}

.info-hd-header {
    margin-bottom: 15px;
    border-bottom: 1px dashed #ebedf2;
    padding-bottom: 5px;
}

.frmHD .form-group label {
    text-align: right;
}

.frmHD .form-group {
    align-items: center;
}

#hd-modal .modal-body {
    padding: 2rem !important;
}

.font-12 {
    font-size: 12px;
}

.hd_laisuat {
    font-size: 12px;
    color: brown;
}

.hd_tenkhachang {
    color: #27408B;
    cursor: pointer;
}

    .hd_tenkhachang:hover {
        border-bottom: 1px solid #5f57c3;
        transition: width 0.3s ease;
    }

.ui-autocomplete {
    z-index: 2147483647;
}

.row-tenkhachang {
    position: relative;
}

.clear-info-customer {
    position: absolute;
    cursor: pointer;
    top: 25%;
    right: 7%;
    display: none;
}

    .clear-info-customer i {
        color: red;
    }

.table-detail-hd td {
    padding: 0.35rem !important;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
}

.head-bg-gray thead {
    background: #f2f0f7;
    font-weight: 600;
}

.list-payment table td {
    vertical-align: middle;
}

.icon-print i {
    color: #716aca;
}

#dvInfoDongLaiTheoNgay {
    margin: 20px 0px;
}

    #dvInfoDongLaiTheoNgay .form-group label {
        text-align: right;
        align-items: center;
        font-weight: bold;
    }

    #dvInfoDongLaiTheoNgay .tienlai {
        color: darkcyan;
        font-weight: bold;
    }

    #dvInfoDongLaiTheoNgay .tongtienlai {
        color: #f4516c;
        font-weight: bold;
    }

.lbl-right {
    text-align: right;
}

.note-payment-item {
    position: relative;
    margin-bottom: 1rem;
}

.list-note-payment {
    margin-left: 3rem;
}

.note-time {
    width: 5rem;
    text-align: center;
}

    .note-time::after {
        background: #36a3f7;
        width: 0.28rem;
        border-radius: 0.3rem;
        height: 70%;
        left: 5.5rem;
        top: 0.36rem;
        content: "";
        position: absolute;
    }

.ky-tranlog {
    font-size: 13px;
}

.chuocdo-info {
    color: darkcyan
}

.chuocdo-tongtienchuoc {
    color: #f4516c;
    font-weight: bold;
}
