
/*html {
    font-size: 14px;
}*/

div::-webkit-scrollbar, ul::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    border-radius: 10px
}

    div::-webkit-scrollbar-thumb:hover, ul::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,.5)
    }

.fa-sync-alt.fa-spin {
    margin-left: 5px;
}

#toast-container > div {
    opacity: 1;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;
}

a.btn-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-item {
    padding: 10px;
}

    .menu-item a {
        display: flex;
        align-items: center;
    }

        .menu-item a svg {
            margin-right: 5px;
        }

.list-shop {
    position: absolute;
    width: 70%;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 15px 1px rgb(69 65 78 / 20%);
    margin-top: 20px;
    display: none;
}

.shop-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

    .shop-item a {
        line-height: 50px;
    }

    .shop-item.active {
        background: #eceef1;
    }

.choose-shop {
    position: relative;
}
