@{
    ViewData["Title"] = "Thanh toán";
}

<div id="payment">
    <div class="container">
        <h3>1.Thanh toán chuyển khoản ngân hàng</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Ngân hàng</th>
                    <th>Số tài khoản</th>
                    <th style="text-align: center">Chủ tài khoản</th>
                    <th style="text-align: center">Nội dung CK</th>
                </tr>
                <tr>
                    <td>Vietcombank - CN Thanh Xuân</td>
                    <td>0711000258981</td>
                    <td rowspan="5" style="vertical-align: middle; text-align: center">
                        CÔNG TY CỔ PHẦN TẬP ĐOÀN TIMA
                    </td>
                    <td rowspan="5" style="vertical-align: middle; text-align: center">
                        Gia han TK: Ten_Dang_Nhap
                        <div style="color: #808080">
                            <i>(Thay "Ten_Dang_Nhap" bằng tài khỏan đăng nhập của bạn)</i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Agribank - CN Đống Đa</td>
                    <td>1504201034563</td>
                </tr>
                <tr>
                    <td>Techcombank - CN Hà Tây</td>
                    <td>19133237709013</td>
                </tr>
                <tr>
                    <td>BIDV - CN Thái Hà</td>
                    <td>26810000289402</td>
                </tr>
                <tr>
                    <td>Sacombank - CN Đống Đa=</td>
                    <td>020066678688</td>
                </tr>
            </tbody>
        </table>

        <h3>2.Thanh toán tiền mặt</h3>
        <p class="content-2">
            - Nếu bạn ở Hà Nội hoặc TP. Hồ Chí Minh xin vui lòng liên hệ với Mecash theo số điện thoại <strong>024.7305.4222 </strong>để được hỗ trợ. Nhân viên của chúng tôi sẽ qua thu tiền mặt trực tiếp.
        </p>

        <h3>3.Gói gia hạn thời gian sử dụng tài khoản <span class="red">*</span></h3>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="box orange">
                    <div class="name">GÓI 12 THÁNG</div>
                    <div class="description">2.200.000 </div>
                </div>
            </div>

            <div class="col-md-1 col-sm-0"></div>

            <div class="col-md-3 col-sm-12">
                <div class="box orange">
                    <div class="name">GÓI 24 THÁNG</div>
                    <div class="description">4.400.000</div>
                    <div class="note">(KM : 6 tháng)</div>
                </div>
            </div>

            <div class="col-md-1 col-sm-0"></div>

            <div class="col-md-3 col-sm-12">
                <div class="box orange">
                    <div class="name">GÓI 36 THÁNG</div>
                    <div class="description">6.600.000</div>
                    <div class="note">(KM : 12 tháng)</div>
                </div>
            </div>
        </div>
        <div class="red mt-2">Áp dụng đối với phần mềm mới version 2.0</div>

        <h3 class="mt-3">4.Gói nạp tiền sử dụng dịch vụ CIC</h3>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="box yellow">
                    <div class="name">GÓI 1</div>
                    <div class="description">100.000</div>
                </div>
            </div>

            <div class="col-md-1 col-sm-0"></div>

            <div class="col-md-3 col-sm-12">
                <div class="box yellow">
                    <div class="name">GÓI 2</div>
                    <div class="description">300.000</div>
                </div>
            </div>

            <div class="col-md-1 col-sm-0"></div>

            <div class="col-md-3 col-sm-12">
                <div class="box yellow">
                    <div class="name">GÓI 3</div>
                    <div class="description">500.000</div>
                </div>
            </div>
        </div>

        <h3 class="mt-3">5.Gói VIP - trang web dành riêng cho khách hàng theo năm <span class="red">*</span></h3>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="box orange">
                    <div class="name">GÓI SIÊU VIP </div>
                    <div class="description">100.000.000</div>
                </div>
            </div>

            <div class="col-md-1 col-sm-0"></div>

            <div class="col-md-3 col-sm-12">
                <div class="box orange">
                    <div class="name">GÓI VIP</div>
                    <div class="description">50.000.000</div>
                </div>
            </div>

            <div class="col-md-1 col-sm-0"></div>

            <div class="col-md-3 col-sm-12">
                <div class="box orange">
                    <div class="name">GÓI THƯỜNG</div>
                    <div class="description">30.000.000</div>
                </div>
            </div>
        </div>
    </div>
</div>