@using BaseSource.ViewModels.LienHe
@model CreateLienHeVm
@{
    ViewData["Title"] = "Liên Hệ";
}

<div id="feedback">
    <div class="container">
        <h1 class="title">LIÊN HỆ HỖ TRỢ MECASH</h1>
        <h2 class="description">Tổng đài chăm sóc khách hàng 024.730.54.222</h2>

        <div class="row content">
            <div class="col-md-6 col-sm-12">
                <div class="form-panel">
                    <h3 class="header-label">Gửi yêu cầu liên hệ</h3>

                    <form asp-action="Index" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <label>
                                    Họ và Tên
                                    <span style="color: red">*</span>
                                </label>
                            </div>

                            <div class="col-md-9 col-sm-12">
                                <input asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <label>
                                    Điện thoại
                                    <span style="color: red">*</span>
                                </label>
                            </div>

                            <div class="col-md-9 col-sm-12">
                                <input asp-for="Phone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <label>
                                    Email
                                    <span style="color: red">*</span>
                                </label>
                            </div>

                            <div class="col-md-9 col-sm-12">
                                <input asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <label>
                                    Nội dung
                                    <span style="color: red">*</span>
                                </label>
                            </div>

                            <div class="col-md-9 col-sm-12">
                                 <textarea asp-for="Message"></textarea>
                                 <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-3 col-sm-12"></div>

                            <div class="col-md-9 col-sm-12">
                                <input type="submit" value="Gửi liên hệ" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <h3 class="header-label">Đến với MeCash</h3>

                <div class="branch-name mt-2">Trụ Sở Chính</div>
                <div class="address mt-1">
                    203 Tầng M, Tòa N01B Golden Land, Số 275 Nguyễn Trãi, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành phố Hà Nội
                </div>

                <div class="branch-name mt-2">Chi Nhánh Miền Nam</div>
                <div class="address mt-1">
                    Tòa nhà GIC - 207B Hoàng Văn Thụ - Quận Phú Nhuận - TP HCM.
                </div>

                <iframe class="mt-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.9945147627827!2d105.80563531542289!3d20.992856994377668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac95c635f761%3A0x67aec645214c0a2c!2sChung+C%C6%B0+Golden+Land!5e0!3m2!1svi!2sus!4v1458638241959" style="border: 0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".lienhe-nav").addClass("active");
    </script>
}