@model QuyCuaHangThongKeVm

<div class="col-md-4 text-center border-right">
    <h4>QŨY TIỀN MẶT</h4>
    <h3 class="text-purple">@Model.QuyTienMat</h3>
</div>
<div class="col-md-4 text-center border-right">
    <h4>TIỀN ĐẦU NGÀY</h4>
    <h3 class="text-success">@Model.TienDauTuNgay</h3>
</div>
<div class="col-md-4 text-center border-right">
    <h4>VỐN ĐẦU TƯ</h4>
    <h3 class="text-blue">@Model.VonDauTu</h3>
</div>
