@{
    ViewData["Title"] = "Nhập tiền quỹ đầu ngày";

}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">Shop ABCD</h3>
            </div>
            <div class="card-body">

                <div class="row ">
                    <div class="col-md-4 text-center border-right">
                        <h4>QŨY TIỀN MẶT</h4>
                        <h3 class="text-purple">100,000</h3>
                    </div>
                    <div class="col-md-4 text-center border-right">
                        <h4>TIỀN ĐẦU NGÀY</h4>
                        <h3 class="text-success">100,000</h3>
                    </div>
                    <div class="col-md-4 text-center border-right">
                        <h4>VỐN ĐẦU TƯ</h4>
                        <h3 class="text-blue">100,000</h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h5><i data-feather="dollar-sign"></i> Nhập quỹ tiền mặt</h5>

                        <hr />
                        <form id="frmQuytien">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Số tiền <span class="text-danger">*</span></label>
                                <div class="col-sm-5">
                                    <div class="input-group ">
                                        <div class="input-group-text">VNĐ</div>
                                        <input type="text" class="form-control " placeholder="inputAmount" id="txtMoney">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-5">
                                    <button id="btnSaveQuyDauNgay" class="btn btn-primary btn-sm my-1"><i data-feather="file-text"></i> Lưu lại</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <span class="col-sm-12 col-form-label text-sm">Diễn giải ! Chức năng <span class="text-primary">Nhập lại quỹ tiền mặt</span> cho phép bạn cập nhật mới quỹ tiền mặt hiện có</span>

                            </div>
                        </form>
                        <h5><i data-feather="dollar-sign"></i> Nhập quỹ đầu ngày</h5>

                        <hr />
                        <form class="">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Số tiền <span class="text-danger">*</span></label>
                                <div class="col-sm-5">
                                    <div class="input-group ">
                                        <div class="input-group-text">VNĐ</div>
                                        <input type="text" class="form-control " placeholder="inputAmount">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-5">
                                    <button type="submit" class="btn btn-primary btn-sm my-1"><i data-feather="file-text"></i> Lưu lại</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <span class="col-sm-12 col-form-label text-sm">Diễn giải ! Chức năng <span class="text-success">Nhập tiền đầu ngày</span>  cho phép bạn nhập mới tiền đầu ngày, có thể nhập thêm tiền hoặc rút tiền tại đây</span>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h5><i data-feather="file-text"></i> Lịch sử nhập quỹ tiền đầu ngày</h5>
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                           Ngày
                                        </th>
                                        <th scope="col">
                                           Người giao dịch
                                        </th>
                                        <th scope="col">
                                            Số tiền
                                        </th>
                                        <th scope="col">
                                           Hoạt động
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                       <td>1</td>
                                       <td>28/07/2022</td>
                                       <td>test123</td>
                                       <td class="text-success">+33</td>
                                       <td>Cập nhập tiền hàng ngày</td>
                                   </tr>
                                   <tr>
                                       <td>2</td>
                                       <td>28/07/2022</td>
                                       <td>test123</td>
                                       <td class="text-success">+33</td>
                                       <td>Cập nhập tiền hàng ngày</td>
                                   </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="_resultInhondong"></div>

@section Scripts{
    <script>
        $(".moneynewdate-nav").addClass("active");


        
    </script>
}