
@{
    ViewData["Title"] = "Nhập tiền quỹ đầu ngày";

}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">Shop ABCD</h3>
            </div>
            <div class="card-body">

                <div class="row" id="_resultThongKe">
                   
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h5><i data-feather="dollar-sign"></i> Nhập quỹ tiền mặt</h5>

                        <hr />
                        <form id="frmCreateTienDauNgay" >
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Số tiền <span class="text-danger">*</span></label>
                                <div class="col-sm-5">
                                    <div class="input-group ">
                                        <div class="input-group-text">VNĐ</div>
                                        <input name="Money" type="text" class="form-control " placeholder="inputAmount">
                                    </div>
                                </div>
                                <input type="hidden" name="LogType" value="1" />
                                <input type="hidden" name="ActionType" value="1" />
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-5">
                                    <button id="btnCreateTienDauNgay" class="btn btn-primary btn-sm my-1"><i data-feather="file-text"></i> Lưu lại</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <span class="col-sm-12 col-form-label text-sm">Diễn giải ! Chức năng <span class="text-primary">Nhập lại quỹ tiền mặt</span> cho phép bạn cập nhật mới quỹ tiền mặt hiện có</span>

                            </div>
                        </form>
                        <h5><i data-feather="dollar-sign"></i> Nhập quỹ đầu ngày</h5>

                        <hr />
                        <form id="frmCreateQuyDauNgay">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Số tiền <span class="text-danger">*</span></label>
                                <div class="col-sm-5">
                                    <div class="input-group ">
                                        <div class="input-group-text">VNĐ</div>
                                        <input type="text" name="Money" class="form-control " placeholder="inputAmount">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="LogType" value="2" />
                            <input type="hidden" name="ActionType" value="1" />
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-5">
                                    <button id="btnCreateQuyDauNgay" class="btn btn-primary btn-sm my-1"><i data-feather="file-text"></i> Lưu lại</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <span class="col-sm-12 col-form-label text-sm">Diễn giải ! Chức năng <span class="text-success">Nhập tiền đầu ngày</span>  cho phép bạn nhập mới tiền đầu ngày, có thể nhập thêm tiền hoặc rút tiền tại đây</span>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h5><i data-feather="file-text"></i> Lịch sử nhập quỹ tiền đầu ngày</h5>
                        <hr />
                        <div id= "_resultTable"></div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script>
    $(".moneynewdate-nav").addClass("active");
    var URLQuyCH = {
        GetData : "@Url.Action("GetData")",
        CreateTienDauNgay : "@Url.Action("CreateTienDauNgay")",
        CreateQuyDauNgay : "@Url.Action("CreateQuyDauNgay")",
        GetDataThongKe : "@Url.Action("GetDataThongKe")",
    }
</script>
<script src="~/admin/js/CuaHang/quyCuaHang.js" asp-append-version=true></script>
}