@using BaseSource.ViewModels.GoiSanPham
@model List<GoiSanPhamVm>
@{
    ViewData["Title"] = "Thanh toán";
}

<div id="payment">
    <div class="container">
        <h3>1.Thanh toán chuyển khoản ngân hàng</h3>
        <table class="table table-bordered table-desktop">
            <tbody>
                <tr>
                    <th>Ngân hàng</th>
                    <th>Số tài khoản</th>
                    <th style="text-align: center">Chủ tài khoản</th>
                    <th style="text-align: center">Nội dung CK</th>
                </tr>
                <tr>
                    <td>Vietcombank - CN Thanh Xuân</td>
                    <td>0711000258981</td>
                    <td rowspan="5" style="vertical-align: middle; text-align: center">
                        CÔNG TY CỔ PHẦN TẬP ĐOÀN TIMA
                    </td>
                    <td rowspan="5" style="vertical-align: middle; text-align: center">
                        Gia han TK: Ten_Dang_Nhap
                        <div style="color: #808080">
                            <i>(Thay "Ten_Dang_Nhap" bằng tài khỏan đăng nhập của bạn)</i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Agribank - CN Đống Đa</td>
                    <td>1504201034563</td>
                </tr>
                <tr>
                    <td>Techcombank - CN Hà Tây</td>
                    <td>19133237709013</td>
                </tr>
                <tr>
                    <td>BIDV - CN Thái Hà</td>
                    <td>26810000289402</td>
                </tr>
                <tr>
                    <td>Sacombank - CN Đống Đa</td>
                    <td>020066678688</td>
                </tr>
            </tbody>
        </table>

         <table class="table table-bordered table-mobile">
             <tbody>
                 <tr>
                     <th rowspan="6" class="align-middle">Ngân hàng</th>
                     <td>Vietcombank - CN Thanh Xuân</td>
                     <td>0711000258981</td>
                 </tr>
                 <tr>
                     <td>Agribank - CN Đống Đa</td>
                     <td>1504201034563</td>
                 </tr>
                 <tr>
                     <td>Techcombank - CN Hà Tây</td>
                     <td>19133237709013</td>
                 </tr>
                 <tr>
                     <td>BIDV - CN Thái Hà</td>
                     <td>26810000289402</td>
                 </tr>
                 <tr>
                     <td>Sacombank - CN Đống Đa</td>
                     <td>020066678688</td>
                 </tr>
                 <tr>
                     <td>Vietcombank - CN Thanh Xuân</td>
                     <td>0711000258981</td>
                 </tr>
                 <tr>
                     <th class="align-middle">Chủ tài khoản</th>
                     <td colspan="2">CÔNG TY CỔ PHẦN TẬP ĐOÀN TIMA</td>
                 </tr>
                 <tr>
                     <th class="align-middle">Nội dung CK</th>
                     <td colspan="2">
                         Gia han TK: Ten_Dang_Nhap
                        <div style="color: #808080">
                            <i>(Thay "Ten_Dang_Nhap" bằng tài khỏan đăng nhập của bạn)</i>
                        </div>
                     </td>
                 </tr>
             </tbody>
         </table>

        <h3>2.Thanh toán tiền mặt</h3>
        <p class="content-2">
            - Nếu bạn ở Hà Nội hoặc TP. Hồ Chí Minh xin vui lòng liên hệ với Mecash theo số điện thoại <strong>024.7305.4222 </strong>để được hỗ trợ. Nhân viên của chúng tôi sẽ qua thu tiền mặt trực tiếp.
        </p>

        <h3>3. Các gói sản phẩm</h3>

        <div class="row row-cols-3">
            @foreach (var item in Model)
            {
                <div class="col mt-3">
                    <div class="box orange">
                        <div class="name">@item.Ten</div>
                        <div class="description">@item.TongTien</div>
                        
                        @if (item.KhuyenMai != null)
                        {
                            <div class="note">@item.KhuyenMai</div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".thanhtoan-nav").addClass("active");
    </script>
}