<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Admin</title>
    <link href="~/admin/css/styles.css" rel="stylesheet" />
    <link href="~/admin/libs/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin/libs/bootstrap-select/css/bootstrap-select.min.css" />
    <link href="~/admin/libs/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/admin/css/site.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/admin/libs/image-uploader/image-uploader.min.css" rel="stylesheet" />




     <link href="~/admin/libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="nav-fixed" id="page-top">
    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
        @await Html.PartialAsync("_NavTopbar")
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            @await Html.PartialAsync("_SideBar")
        </div>
        <div id="layoutSidenav_content">
            <main class="container-fluid py-4">
                @RenderBody()
            </main>
            <footer class="footer mt-auto footer-light">
                <div class="container-fluid">
                    <div class="text-center">
                        <div>© Copyright @DateTime.Now.Year by <a href="/">Kteam.</a> All Rights Reserved.</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="modalContainer"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/admin/libs/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/admin/libs/feather/feather.min.js"></script>
    <script src="~/admin/js/scripts.js"></script>

    <script src="~/admin/libs/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/admin/libs/jquery.repeater/jquery.repeater.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>

    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/admin/libs/image-uploader/image-uploader.js"></script>
    <script src="~/admin/js/site.js"></script>

    <script src="~/admin/js/hd.js"></script>
    <script src="~/admin/js/payment_log.js"></script>
    <script src="~/admin/js/cuahang_paymentloghistory.js"></script>
    <script src="~/admin/js/vayrutgoc.js"></script>
    <script src="~/admin/js/giahan.js"></script>
    <script src="~/admin/js/hengio.js"></script>
    <script src="~/admin/js/ghino.js"></script>

    <script src="~/admin/js/quanlythuchi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js" integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="~/admin/js/chungtu.js"></script>
    <script src="~/admin/js/chuocdo.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <div id="modalContainer"></div>
</body>
</html>
