@{
    var currentShop = User.Claims.FirstOrDefault(x => x.Type == "TenCuaHang")?.Value ?? "Chọn cửa hàng";
}
<!-- Sidenav Toggle Button-->
<button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
<!-- Navbar Brand-->
<!-- * * Tip * * You can use text or an image for your navbar brand.-->
<!-- * * * * * * When using an image, we recommend the SVG format.-->
<!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
<a class="navbar-brand pe-3 ps-4 ps-lg-2" href="@Url.Action("Index", "Home")">Admin Dashboard</a>

<div class="menu-item" id="choose-shop">
    <a href="#"><i data-feather="airplay" class="me-2"></i> @currentShop</a>
    <div class="list-shop asyncPartial" data-url="@Url.Action("GetShopByUser","CuaHang")"></div>
</div>
<div class="menu-item">
    <a href="@Url.Action("Index","FeedBack")"><i data-feather="message-square"  class="me-2"></i> Góp ý</a>

</div>

<ul class="navbar-nav align-items-center ms-auto">
    @await Component.InvokeAsync("ThongBao")
    
    @await Component.InvokeAsync("UserInfoTopBar")
</ul>
