<nav class="sidenav shadow-right sidenav-dark">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">

            <div class="sidenav-menu-heading">DATA</div>
           
            <a class="nav-link user-nav" href="@Url.Action("Index", "User")">
                <div class="nav-link-icon"><i data-feather="users"></i></div>
                User
            </a>
            <a class="nav-link setting-nav" href="@Url.Action("Index", "Setting")">
                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                Setting
            </a>
        </div>
    </div>
</nav>