@model EditReportCustomerAdminVm
@{
    ViewData["Title"] = "Cập nhật báo xấu";
}
<div>
    <div class="card shadow h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="m-0 font-weight-bold">@ViewData["Title"]</h3>
            <a class="btn btn-sm btn-secondary shadow-sm" asp-action="Index"><i class="fas fa-arrow-left fa-fw fa-sm text-white-50"></i> Back</a>
        </div>
        <div class="card-body">
            <form asp-action="Edit" data-name="ajaxFormHangHoa" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(x => x.Id)
                <div class="form-group row">
                    <label asp-for="CustomerName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="CustomerName" class="form-control " />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PhoneNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="PhoneNumber" class="form-control " />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CMND" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="CMND" class="form-control " />
                        <span asp-validation-for="CMND" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Address" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Address" class="form-control " />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Reason" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Reason" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Change</button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(".reportcustomer-nav").addClass("active");
    </script>
}   