@{
    ViewData["Title"] = "Lịch nhắc thu tiền lãi";
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">Cảnh báo góp vốn</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="mb-3">
                            <form class="form-inline">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary mb-2 mr-2"><i class="fa fa-print" aria-hidden="true"></i> In</button>
                                    <button type="button" class="btn btn-success mb-2"><i class="fa fa-file-excel" aria-hidden="true"></i> Excel</button>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" class="form-control" id="search" placeholder="Tìm kiếm tên người góp vốn">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <select class="form-control">
                                        <option>Tất cả</option>
                                        <option>Tất cả</option>
                                        <option>Tất cả</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                            Khách hàng
                                        </th>
                                        <th scope="col">
                                            Địa chỉ
                                        </th>
                                        <th scope="col">
                                            Tiền gốc
                                        </th>
                                        <th scope="col">
                                            Tiền lãi
                                        </th>
                                        <th scope="col">
                                            Nợ cũ
                                        </th>
                                        <th scope="col">
                                            Tổng tiền
                                        </th>
                                        <th scope="col">
                                            Lý do
                                        </th>
                                        <th scope="col">
                                            Trạng thái
                                        </th>
                                        <th scope="col">
                                            Chức năng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

    </script>
}