
@model UserInfoResponse

<ul class="navbar-nav justify-content-end">
    <li class="nav-item">
        <div class="dropdown">
            <a href="#" class="nav-link text-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Xin chào @(Model.UserName??Model.FullName)</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Manage" asp->Cài đặt</a>
                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Đăng xuất</a>

            </div>
        </div>

    </li>
</ul>