/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto',sans-serif;
}

main-bg {
    background-color: #f5f5f5;
}

.site-content {
    margin: 30px auto 0px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

.logo img {
    width: 100px
}

.site-content textarea {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    resize: none;
    outline: none;
    padding: 15px;
    line-height: 20px;
    min-height: 500px;
}

.navigation {
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between
}

.form-account {
    float: none;
    margin: 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 30px;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            @media (max-width: 768px) {
                margin-bottom: 10px;
            }

            a {
                font-size: 17px;
                color: #444;
                text-decoration: none;

                &:hover {
                    color: #666;
                    text-decoration: underline;
                }
            }
        }
    }

    .hotline {
        color: #b1b1b1;
        font-size: 16px;
        margin-top: 0px;
    }

    .phone-number {
        color: #f05123;
        font-size: 34px;
        text-decoration: none;
    }

    .right {
        border-left: 2px solid #f0f0f0;
    }

    .icon {
        margin-right: 5px;
    }

    .copyright {
        text-align: center;
        padding: 10px 0;
        margin-top: 16px;
        background: #201f1f;
        font-size: 14px;
        color: #FFF;

        @media (max-width: 768px) {
            padding: 10px;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto-Bold;
}

#navbar {
    .navbar-brand {
        @media (max-width: 768px) {
            display: none;
        }
    }

    ul.links {
        li {
            a {
                font-size: 18px;
                color: #3f3e3c;
                font-family: Roboto-Light;
                position: relative;

                &:hover {
                    color: #f05403;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 3px solid #e1e1e1;
                        background: #f05403;
                        bottom: -15px;
                        left: 50%;
                        transform: translateX(-50%)
                    }
                }
            }

            &.active {
                a {
                    color: #f05403;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 3px solid #e1e1e1;
                        background: #f05403;
                        bottom: -15px;
                        left: 50%;
                        transform: translateX(-50%)
                    }
                }
            }
        }
    }
}

.btn-top {
    width: 110px;
    height: 34px;
    display: block;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;

    @media (max-width: 768px) {
        width: 92px;
    }
}

.btn-top-login {
    background-color: #fdc718;

    &:hover {
        background-color: #e6b414;
        text-decoration: none;
        color: #FFFFFF;
    }

    @media (max-width: 768px) {
        margin-right: 10px;
    }
}

.btn-top-register {
    background-color: #f05403;

    &:hover {
        background-color: #ce4904;
        text-decoration: none;
        color: #FFFFFF;
    }
}

#homepage {
    #navbar-homepage {
        background: #e9e9e9;
        box-shadow: 0px 2px 5px #bbb;
        border-radius: 4px;
        margin: 0px 12px;

        @media (min-width: 992px) {
            display: none;
        }

        .nav-link {
            font-size: 18px;
            color: #3f3e3c;
            padding: 6px 0px;
            font-family: Roboto-Light;
        }
    }

    .hompage-header {
        background: url(../images/bg_banner.png) repeat;
        min-height: 680px;
        padding-top: 38px;

        @media (max-width: 768px) {
            padding-top: 10px;
        }

        .hompage-navbar {
            background: #FFF;
            display: table;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 0px 5px #bbb;
            min-height: 70px;

            @media (max-width: 991px) {
                display: none;
            }

            .login-panel {
                padding-top: 20px;
                padding-right: 25px;
            }
        }

        .hompage-top-link {
            font-size: 18px;
            color: #3f3e3c;
            padding: 6px 0px;
            font-family: Roboto-Light;
            text-decoration: none;

            &:hover {
                color: #f05403;
                border-bottom: 2px solid #f05403;
            }

            &.active {
                color: #f05403;
                border-bottom: 2px solid #f05403;
            }
        }

        .img-responsive {
            width: 100%;
        }

        .content-center {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            .homepage-header-title {
                font-size: 30px;
                color: #1a1a1e;
                line-height: 44px;

                @media (max-width: 991px) {
                    font-size: 19px;
                    color: #1a1a1e;
                    line-height: 30px;
                    margin-top: 26px;
                    text-align: center;
                    font-weight: bold;
                }
            }

            .homepage-header-list {

                li {
                    color: #1a1a1e;
                    font-size: 20px;
                    line-height: 40px;

                    @media (max-width: 991px) {
                        padding-left: 1em;
                        text-indent: -.7em;
                        font-size: 19px;

                        &:before {
                            content: '';
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #000;
                            display: block;
                            float: left;
                            position: relative;
                            top: 15px;
                            margin-right: 20px;
                        }
                    }
                }
            }

            .homepage-header-btn-submit {
                margin-top: 10px;

                @media (max-width: 991px) {
                    margin: 0px auto 55px auto;
                }
            }
        }
    }

    .homepage-header-btn-submit {
        text-decoration: none;
        color: #FFF;
        background-color: #f05403;
        width: 260px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        font-size: 22px;
        display: block;
        text-transform: uppercase;
        border-radius: 5px;

        &:hover {
            background-color: #ce4904;
            text-decoration: none;
            color: #FFFFFF;
        }
    }

    .homepage-why-like {
        padding-top: 23px;
        position: relative;
        margin-bottom: 35px;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -25px;
            width: 100%;
            height: 3px;
            background: #f8f8f8;
            z-index: 1;
        }

        .title {
            text-align: center;
            font-size: 43px;
            color: #f05403;
            margin: 20px 0 30px;

            @media (max-width: 768px) {
                font-size: 26px;
            }
        }

        .reasons {
            .item {
                position: relative;

                img {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%)
                }

                .name {
                    font-size: 16px;
                    color: #393838;
                    margin: 28px auto 15px;
                    text-transform: uppercase;
                    text-align: center;
                }

                .value {
                    font-size: 14px;
                    color: #8d8d8d;
                    padding: 0 12px;
                    text-align: justify;

                    @media (max-width: 991px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .homepage-header-btn-submit {
            margin: 30px auto 0 auto;
        }
    }

    .homepage-values {
        margin-top: 30px;
        position: relative;
        margin-bottom: 35px;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -25px;
            width: 100%;
            height: 3px;
            background: #f8f8f8;
            z-index: 1;
        }

        .title {
            text-align: center;
            font-size: 43px;
            color: #f05403;

            @media (max-width: 768px) {
                font-size: 26px;
            }
        }

        .description {
            font-size: 16px;
            color: #303030;
            text-align: center;
        }

        .left-content {
            display: flex;
            flex-wrap: wrap;

            .value {
                font-size: 14px;
                text-align: left;

                @media (max-width: 768px) {
                    margin-bottom: 30px;
                }

                img {
                    opacity: 0.8;
                    transition: all 0.5s ease;
                }

                .item-title {
                    color: #303030;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                }

                .item-description {
                    color: #4b4c4c;
                    margin: 0;
                }
            }
        }


        .img-responsive {
            width: 100%;
        }

        .homepage-header-btn-submit {
            margin: 30px auto 0 auto;
        }
    }

    .reviews {
        margin-top: 50px;

        .title {
            font-size: 38px;
            color: #8d8d8d;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 20px;
            }

            span {
                color: #f05403;
                font-family: Roboto-Bold;
            }
        }

        .description {
            text-align: center;
            color: #303030;
            font-size: 16px;
            margin-bottom: 40px;
        }

        .owl-theme {
            .item {
                .icon {
                    font-size: 21px;
                    color: #e2e2e2;

                    &.fa-quote-left {
                        margin-right: 20px;
                    }

                    &.fa-quote-right {
                        margin-left: 20px;
                    }
                }

                .name {
                    margin-top: 15px;
                    color: #f05403;
                    text-align: right;
                    font-size: 16px;
                }

                .address {
                    text-align: right;
                    color: rgb(94, 94, 94);
                }

                span {
                    color: #5e5e5e;
                    font-size: 16px;
                    min-height: 145px;
                }

                .img-circle {
                    border-radius: 50%;
                    border: 2px solid #d2e9b4;
                    padding: 4px;
                    width: 150px;
                    height: 150px;

                    @media (max-width: 768px) {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%)
                    }
                }
            }
        }
    }

    .partner {
        min-height: 540px;
        background: url(https://mecash.vn/Content/images/bg_images.jpg) no-repeat bottom center;
        background-size: auto;
        background-size: cover;
        padding-top: 70px;

        @media (max-width: 768px) {
            padding-top: 40px;
        }

        .title {
            font-size: 38px;
            color: #FFF;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 20px;
            }
        }

        .description {
            font-family: Roboto-Regular;
            text-align: center;
            color: #FFF;
            font-size: 16px;
            margin-bottom: 60px;
            margin-top: 20px;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item {
            color: #FFF;
            width: 169px;
            height: 169px;
            display: block;
            margin: 0px 60px;
            background: url(../images/bg_clip.png) no-repeat;
            padding-top: 65px;

            @media (max-width: 768px) {
                color: #FFF;
                width: 145px;
                height: 145px;
                display: block;
                margin: 0px 0px;
                background-size: auto;
                padding-top: 50px;
                background-size: 100%;
            }

            .top {
                font-size: 43px;
                text-align: center;
                line-height: 20px;
            }

            .bot {
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

#feature {
    .left-menu {
        @media (max-width: 768px) {
            background-color: #FFF;
            display: table;
            margin-bottom: 30px;
        }

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            color: #666;

            li {
                border-left: 1px solid #d4d4d4;
                border-right: 1px solid #d4d4d4;
                border-top: 1px solid #d4d4d4;

                &:last-child {
                    border-bottom: 1px solid #d4d4d4;
                }

                @media (max-width: 768px) {
                    border: 1px solid #d4d4d4;

                    &:nth-of-type(2n+1) {
                        width: 60%;
                    }

                    display: table;
                    float: left;
                    width: 40%;
                }

                &.active {
                    border: 1px solid #f05403 !important;
                    position: relative;
                    background: #f05403;

                    a {
                        color: #fff !important;
                    }

                    @media (min-width: 769px) {
                        &::after {
                            content: "";
                            display: block;
                            height: 43.7px;
                            width: 23px;
                            position: absolute;
                            top: -1px;
                            right: -24px;
                            background-image: url(../images/menu_active.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }

                a {
                    color: #383838;
                    font-size: 14px;
                    padding: 10px 30px;
                    display: block;
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;

                    &:hover {
                        color: #f05403;
                    }
                }
            }
        }
    }
}

#payment {
    h3 {
        font-size: 24px;
        font-weight: 400;
        font-family: Roboto-Bold;
    }

    .red {
        color: red;
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;

        &.table-desktop {
            @media (max-width: 768px) {
                display: none;
            }
        }

        &.table-mobile {
            @media (min-width: 769px) {
                display: none;
            }
        }

        th {
            border: 1px solid #ddd;
        }

        td {
            border: 1px solid #ddd;
            padding: 8px;
            line-height: 1.42857;
            vertical-align: top;
        }
    }

    content-2 {
        text-align: left;
        font-size: 14px;
        color: black;
        padding: 10px 0px;
        margin: 0 0 20px;
    }

    .space {
        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    .box {
        text-align: center;
        color: white;
        padding: 24px;
        font-family: "Roboto", sans-serif;
        line-height: 42.85px;
        height: 100%;

        &.orange {
            background: #f05403;
        }

        &.yellow {
            background: #e8bb26;
        }

        .name {
            font-size: 20px;
        }

        .description {
            font-size: 30px;
        }

        .note {
            font-size: 20px;
        }
    }
}

#feedback {
    .title {
        font-size: 30px;
        background-color: #f05403;
        padding: 18px;
        text-align: center;
        border: 1px solid #ddd;
        margin-bottom: 0px;
    }

    .description {
        font-size: 25px;
        padding: 18px;
        text-align: center;
        border: 1px solid #ddd;
        border-top: none;
    }

    .content {
        margin-top: 25px;

        .form-panel {
            @media (max-width: 768px) {
                background: #f5f5f5;
                padding: 20px 10px;
            }

            .header-label {
                font-size: 25px;
                color: #565656;
                line-height: 1.42857;
                font-family: 'Roboto',sans-serif;
            }

            .header-label-success {
                font-size: 25px;
                color: red;
                text-align: center;
                line-height: 1.42857;
                font-family: 'Roboto',sans-serif;
            }

            form {
                color: #666;

                label {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                }

                red {
                    color: red;
                }

                input, textarea {
                    background: #fff none repeat scroll 0 0;
                    border: 1px solid #dadada;
                    border-radius: 3px;
                    color: #292929;
                    font-size: 14px;
                    margin: 0;
                    overflow: visible;
                    padding: 8px 12px;
                    width: 100%;
                    font-family: sans-serif;
                    line-height: 1.15;

                    &:hover {
                        border: 1px solid #b9b9b9;
                        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    }
                }

                input[type=submit] {
                    background: #f05403;
                    border: medium none;
                    border-radius: 3px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 18px 80px;
                    text-transform: uppercase;
                    font-family: sans-serif;
                    line-height: 1.15;
                    margin: 0;
                    border-style: none;
                    padding: 18px 80px;

                    &:hover {
                        background: #ce4904;
                    }
                }

                textarea {
                    height: 145px;
                }
            }
        }



        .branch-name {
            color: #f05403;
            font-size: 18px;
            margin: 0 0 10px;
            font-weight: bold;
            font-family: 'Roboto',sans-serif;
        }

        .address {
            font-family: 'Roboto',sans-serif;
            color: #666;
            font-size: 14px;
        }

        iframe {
            width: 100%;
        }
    }
}

#account-form {
    position: relative;
    min-height: 100vh;

    .form-panel {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        padding: 20px 0px;

        &.small {
            @media (min-width: 769px) {
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        form {
            margin-top: 1.5rem;
        }

        img {
            width: 256px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .title {
            color: #9e97aa;
            text-align: center;
            font-size: 1.5rem;
            margin-top: 20px;
            margin-bottom: 0.5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
        }

        .description {
            color: #aba5b6;
            margin-top: 1.5rem;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            font-family: Tahoma;
        }

        .save-login {
            color: #aba5b6;
            font-size: 1rem;
            display: inline-block;
            position: relative;
            margin-bottom: 10px;
            cursor: pointer;

            input {
                position: relative;
                top: 1px;
            }
        }

        .mini-label {
            color: #aba5b6;
            font-size: 1rem;
        }

        button {
            padding: 1.4rem 4rem;
            margin-top: 0.8rem;
            font-size: 1rem;
            font-weight: 400;
            font-family: Tahoma;
            border-radius: 60px;
            color: #fff;
            background-color: #e9552d;
            border-color: #e9552d;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            line-height: 1.25;

            &:hover {
                color: #fff;
                background-color: #ec732e;
                border-color: #ec732e;
            }
        }

        .register {
            color: #847b93;
            font-size: 1rem;
            font-weight: 400;
            text-decoration: none;
        }

        .cancel-link {
            display: inline-block;
            text-align: center;
            padding: 1.4rem 4rem;
            font-size: 1rem;
            color: black;
            font-weight: 400;
            font-family: Tahoma;
            border-radius: 60px;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            line-height: 1.25;
            text-decoration: none;
            background: #e9e9ed;

            &:hover {
                background: #d0d0d7;
            }
        }
    }

    .account-input-field {
        color: #9e97aa;
        opacity: 1;
        border-radius: 40px;
        border: none;
        padding: 1.5rem 1.5rem;
        background: #f7f6f9;
        font-family: Tahoma;
        display: block;
        width: 100%;
        font-size: 1rem;
        line-height: 1.25;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &::placeholder {
            color: #9e97aa;
            opacity: 1;
        }
    }
}

.account-bg {
    background-image: url(../images/bg-account.jpg);
    min-height: 100vh;
}



.banner {
    margin-top: 20px;
    background: #ccc;
    padding: 95px 0;
    text-align: center;
    color: #fff;

    @media (max-width: 768px) {
        padding: 50px 0;
    }

    .title {
        font-size: 42px;
        color: #f05403;
        text-align: center;
        line-height: 1.1;
        font-weight: 400;

        @media (max-width: 768px) {
            font-size: 33px;
        }
    }

    a {
        margin-top: 40px;
        background: #f05403;
        height: 74px;
        color: #fff !important;
        font-size: 33px;
        font-weight: 600;
        padding: 0 27px;
        line-height: 72px;
        border-radius: 10px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        user-select: none;
        text-decoration: none;

        @media (max-width: 768px) {
            font-size: 22px;
            height: 60px;
            line-height: 60px !important;
        }
    }
}


.padding-top-20 {
    padding-top: 20px;
}

.padding-right-10 {
    padding-right: 10px;
}

.border-right {
    border-right: 1px solid #ebedf2;
    border-bottom: 1px solid #ebedf2;
}
