@{
    ViewData["Title"] = "Báo cáo hàng chờ thanh lý";
}


<div class="row">
    <!-- table  Lastest Tickets -->
    <div class="col-12 ">
        <div class="card shadow h-100 mb-4 ">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="m-0 font-weight-bold">Báo cáo hàng chờ thanh lý HĐ Cầm đồ</h3>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="mb-3">
                            <form class="form-inline">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Tìm kiếm mã HĐ, Tên khách hàng">
                                </div>
                                <div class="mb-3">

                                    <select class=" form-control" name="type">
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                        <option value="AL">Tất cả loại phiếu</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background:#3f86c3; color: #ffffff;">
                                        <th scope="col">
                                            #
                                        </th>
                                        <th scope="col">
                                            Tên nhân viên
                                        </th>
                                        <th scope="col">
                                            Từ ngày
                                        </th>
                                        <th scope="col">
                                            Đến ngày
                                        </th>
                                        <th scope="col">
                                            Tổng tiền thu
                                        </th>
                                        <th scope="col">

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr style="background:#ede8ab">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-black">Tổng</td>
                                        <td class="text-danger">14000</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(".expense-nav").addClass("active");

    </script>
}