<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li>
                                <a href="/tinh-nang.html">Tính năng</a>
                            </li>
                            <li>
                                <a href="/khach-hang.html">Khách hàng</a>
                            </li>
                            <li>
                                <a href="/bang-gia.html">Bảng giá</a>
                            </li>
                            <li>
                                <a href="/lien-he.html">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>
                                <a href="/tinh-nang.html?t=camdo">Cầm đồ</a>
                            </li>
                            <li>
                                <a href="/tinh-nang.html?t=vayho">Bát họ</a>
                            </li>
                            <li>
                                <a href="/tinh-nang.html?t=khachhang">Khách hàng</a>
                            </li>
                            <li>
                                <a href="/tinh-nang.html?t=cuahang">Cửa hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>
                                <a href="/tinh-nang.html?t=thuchi">Thu chi</a>
                            </li>
                            <li>
                                <a href="/tinh-nang.html?t=nguonvon">Nguồn vốn</a>
                            </li>
                            <li>
                                <a href="/tinh-nang.html?t=nhanvien">Nhân viên</a>
                            </li>
                            <li>
                                <a href="/tinh-nang.html?t=baocao">Báo cáo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right col-md-7 col-xs-12">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="hotline">Hotline:</div>
                        <a href="tel:18006919" class="phone-number">024.730.54.222</a>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="d-flex justify-content-start align-items-center">
                            <a href="https://www.youtube.com/channel/UCcFVrUeA3yMi8rFNQM3hPJQ/featured?disable_polymer=1" target="_blank" class="icon">
                                <img src="https://mecash.vn/Content/images/youtube.jpg" alt="youtube">
                            </a>

                            <a href="https://www.facebook.com/mecash.vn/" target="_blank" class="icon">
                                <img src="https://mecash.vn/Content/images/facebook.jpg" alt="facebook">
                            </a>

                            <a href="javascript:void(0)" class="icon">
                                <img src="https://mecash.vn/Content/images/google.jpg" alt="Google">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        © Copyright 2015 - 2017. MeCash là phần mềm của CÔNG TY CỔ PHẦN CÔNG NGHỆ MECASH 
    </div>
</footer>