<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaseSource.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/owl-carousuel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/owl-carousuel/assets/owl.theme.default.min.css" />
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/Mecash-03.jpg" alt="" width="200" height="80">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="links navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="TinhNang" asp-action="Index">Tính năng</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Feature">Video</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ThanhToan" asp-action="Index">Thanh toán</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Feature">Khuyến mại</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Feature">Liên hệ</a>
                        </li>
                    </ul>
                </div>

                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>
       
    <main role="main" class="main-bg pb-3">
       @RenderBody()
    </main>

    <div class="banner">
        <div class="container">
            <h3 class="title">
                MeCash - luôn đồng hành kinh doanh cùng bạn
            </h3>

            <a href="https://admin.mecash.vn/User/Login?t=Mecash">
                <img src="https://mecash.vn/Content/images/dungthu2.png" alt="MeCash dùng thử"> 
                <span>Dùng thật miễn phí</span>
            </a>
        </div>
    </div>

    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/owl-carousuel/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome-free/js/all.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
