
@if (User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("UserInfoSideBar")
}
else
{
    <div class="d-flex justify-content-end align-items-center">
        <div class="nav-item mr-2">
            <a class="btn-top btn-top-login" asp-area="" asp-controller="Account" asp-action="Login">Đăng Nhập</a>
        </div>

        <div class="nav-item">
            <a class="btn-top btn-top-register" asp-area="" asp-controller="CuaHang" asp-action="Register">Đăng ký</a>
        </div>
    </div>
}