
@if (User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("UserInfoSideBar")
}
else
{
<ul class="navbar-nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng Nhập</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CuaHang" asp-action="Register">Đăng ký</a>
    </li>
</ul>
}