@model ChangePasswordVm
@{
    ViewData["Title"] = "Change Password";
}
 
<div class="col-md-6 form-account">
    <form asp-action="ChangePassword" method="post">
        <div class="form-group row">
            <label  class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
   
        <div class="form-group row">
            <label asp-for="OldPassword" class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NewPassword" class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="submit" class="btn btn-primary btn-sm">Change password</button>
            </div>
        </div>
    </form>
</div>
