@model ForgotPasswordVm
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_AccountLayout";
}
 
<div id="account-form">
    <div class="form-panel small">
        <a asp-controller="Home" asp-action="Index">
            <img src="https://admin.mecash.vn/Template/assets/app/media/img//logos/logoNew.jpg" />
        </a>

        <h1 class="title">Quên mật khẩu ?</h1>
        <h2 class="description">Điền thông tin để lấy lại mật khẩu</h2>

        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="text" asp-for="Email" class="account-input-field" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit">Gửi yêu cầu</button>
                <a class="cancel-link" asp-controller="Account" asp-action="Login">Huỷ</a>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-3">
                <div class="mini-label ms-2 mr-2">Bạn chưa có tài khoản ?</div>

                <a class="register" asp-controller="CuaHang" asp-action="Register">Đăng ký</a>
            </div>
        </form>
    </div>
</div>
