@model LoginRequestVm
@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
}

<div id="account-form">
    <div class="form-panel small">
        <a asp-controller="Home" asp-action="Index">
            <img src="https://admin.mecash.vn/Template/assets/app/media/img//logos/logoNew.jpg" />
        </a>

        <h1 class="title">Đăng nhập vào hệ thống </h1>

        <form action="/Account/Login?returnUrl=@ViewBag.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" asp-for="UserName" class="account-input-field" placeholder="Tên đăng nhập">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="account-input-field" placeholder="Mật khẩu">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <label class="save-login">
                    <input type="checkbox" class="cmd_remember" name="Remember" id="Remember">
                    Ghi nhớ đăng nhập
                    <span></span>
                </label>

                <a class="mini-label" asp-area="" asp-controller="Account" asp-action="ForgotPassword">Quên mật khẩu</a>
            </div>

            <center><button type="submit">Đăng nhập</button></center>

            <div class="d-flex justify-content-center align-items-center mt-3">
                <div class="mini-label ms-2 mr-2">Bạn chưa có tài khoản ?</div>

                <a class="register" asp-controller="CuaHang" asp-action="Register">Đăng ký</a>
            </div>
        </form>
    </div>
</div>

