@model RegisterRequestVm
@{
    ViewData["Title"] = "Register";
}
 
<div class="col-md-5 form-account">
    <h1>ĐĂNG KÝ TÀI KHOẢN</h1>
    <div class="listError"></div>
    <form action="/Account/Register" method="post">
        <h4>Điền thông tin để tạo tài khoản mới.</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName">UserName</label>
            <input type="text" class="form-control" asp-for="UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="email" class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">PassWord</label>
            <input type="password" class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">ConfirmPassWord</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>



