@model ResetPasswordVm
 
<div class="col-md-4 form-account">
    <h1>QUÊN MẬT KHẨU</h1>
    <div class="listError"></div>
    <form asp-action="ResetPassword" method="post">
        <h4>Điền thông tin để lấy lại mật khẩu</h4>
        <input asp-for="Code" type="hidden" />
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="password" asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">ConfirmPassword</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>

